<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Order List</title>
</head>
<body>
<h1>Orders by <span th:text="${author}"></span></h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Time</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.orderTime}"></td>
        <td th:text="${order.status}"></td>
        <td><a th:href="@{/order/pay/{id}(id=${order.id})}">Pay</a></td>
    </tr>
</table>
</body>
</html>